@media (min-width: 320px) {
.titulo {
    display: flex;
    justify-content: space-evenly;
    .programar {
        align-items: center;
        text-align: center;
        padding: 5px 12px;
        .texto-color {
            color: $colorButton;
        }
    }
}
}
.paginas{
    flex-direction: column;
    display: flex;
}
.saberMas{
    text-align: left;
    font-size: 0.7em;
    flex-direction: column;
    padding: 30px;
    margin: 0;
}

.info > ul{
    max-width: 700px;
    font-size: 1.3em;
    color: rgb(87, 84, 84);
    padding-top: 30px;
}

.detalles{
    max-width: 700px;
    color: rgb(87, 84, 84);
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
    text-align: left;
    padding: 30px;
    margin: 0;

}